:root {
    --rosewater: #f5e0dc;
    --red: #f16773;
    --yellow: #ecd093;
    --sky: #7d98f0;
    --blue: #6277ee;
    --blue2: #717df0;
    --lavender: #939df0;
    --violet: #b18af0;
    --violet2: #8648d6;

    --border: #6567e610;
    --text: #b6c3f1;
    --subtext1: #9baae7;
    --overlay1: #7884b6;
    --overlay0: #586088;
    --surface2: #40455a;
    --surface1: #313149;
    --surface0: #20202e;
    --hover: #3a3b7e71;
    --base: rgba(17, 17, 27, 0.5);
    --popup_base: rgba(32, 33, 66, 0.4);
    --basetransparent: rgba(19, 19, 32, 0.5);
    --winbutton:rgba(122, 120, 245, 0.15);
    --winbutton2: #4746aa;
    --winbutton3: #5351ff;

    --icon: #d1d6ee;
    --icon_font: "JetBrainsMono NFP";
    --icon_font_fallback: "Segoe Fluent Icons";
    --system_font: "JetBrainsMono NFP";
}

/* Global Defaults */
* {
    font-size: 12px;
    font-weight: 400;
    font-family: var(--system-font);
    color: var(--text);
    margin: 0;
    padding: 0;
}

/* Bar */
.yasb-bar {
    background-color: var(--base);
    margin: 0;
    padding: 0;
    border: transparent
}

/* Base Widget Styles */
.widget {
    padding: 0px 4px;
    margin: 2px 0px;
}
.widget .icon {
    font-size: 16px;
    font-weight: 400;
    font-family: var(--icon_font), var(--icon_font_fallback), system-ui, sans-serif;
    line-height: 1;
    display: inline-block;
    vertical-align: middle;
}
.widget .label {
    color: var(--text);
    font-weight: 400;
}

/* Tooltip */
.tooltip {
    background-color: var(--base);
    color: var(--text);
    padding: 2px;
    margin-top: 0;
    font-size: 12px;
    font-family: var(--system-font);
    font-weight: 400;
    border-radius: 2px;
}

/* Context Menu */
.context-menu,
.context-menu .menu-checkbox {
    background-color: var(--base);
    border-bottom: 1px solid var(--border);
    padding: 4px 0px;
    font-family: var(--system-font);
    font-weight: 400;
    font-size: 12px;
    color: var(--text);
}
.context-menu {
    border-radius: 8px;
    border: 1px solid var(--border);
}
.context-menu::right-arrow {
    width: 8px;
    height: 8px;
    padding-right: 24px;
}
.context-menu::item,
.context-menu .menu-checkbox {
    background-color: transparent;
    padding: 6px 12px;
    margin: 2px 6px;
    border-radius: 6px;
    min-width: 100px;
}
.context-menu::item:selected,
.context-menu .menu-checkbox:hover {
    background-color: var(--hover);
    color: var(--text);
}
.context-menu::separator {
    height: 1px;
    background-color: var(--border);
    margin: 4px 8px;
}
.context-menu::item:disabled {
    color: var(--overlay0);
    background-color: transparent;
}
.context-menu .menu-checkbox .checkbox {
    border: none;
    padding: 8px 16px;
    font-size: 12px;
    margin: 0;
    color: var(--text);
    font-family: var(--system-font);
    font-weight: 400;
}
.context-menu .submenu::item:disabled {
    margin: 0;
    padding-left: 16px;
}
.context-menu .menu-checkbox .checkbox:unchecked {
    color: var(--overlay0);
}
.context-menu .menu-checkbox .checkbox::indicator {
    width: 12px;
    height: 12px;
    margin-left: 0px;
    margin-right: 8px;
}
.context-menu .menu-checkbox .checkbox::indicator:unchecked {
    background: var(--surface0);
    border-radius: 2px;
}
.context-menu .menu-checkbox .checkbox::indicator:checked {
    background: var(--blue);
    border-radius: 2px;
}
.context-menu .menu-checkbox .checkbox:focus {
    outline: none;
}

/* LEFT */
.left-grouper .container{
    border: 1px solid var(--border);
    border-radius: 4px;
    background-color: var(--basetransparent);
}

/* QUICK LAUNCH */
.quick-launch-widget {
    margin: 3px -6px 3px 4px;
    min-width: 20px;
}
.quick-launch-widget .icon{
    font-size: 14px;
    color: var(--lavender);
}
.quick-launch-widget .icon{
    padding: 2px 4px 2px 0px;
}
.quick-launch-widget:hover {
    background-color: var(--hover);
}
.quick-launch-popup .container {
    background-color: var(--popup_base);
}
.quick-launch-popup .search {
    padding: 12px 16px;
    background-color: transparent;
    border-bottom: 1px solid var(--surface2);
}
.quick-launch-popup .search .loader-line {
    color: var(--blue);
}
.quick-launch-popup .search .search-icon {
    font-family: 'Segoe Fluent Icons';
    font-size: 18px;
    color: var(--text);
    padding-right: 8px;
    min-width: 18px;
}
.quick-launch-popup .search .search-submit-icon {
    font-family: 'Segoe Fluent Icons';
    font-size: 18px;
    color: var(--text);
    min-width: 18px;
}
.quick-launch-popup .search .search-input {
    background: transparent;
    border: none;
    color: var(--text);
    font-size: 16px;
    font-family: var(--system_font);
    font-weight: 400;
    padding: 4px 0;
}
/* Search prefix styling (e.g., ">" for commands) */
.quick-launch-popup .search .prefix {
    background: var(--winbutton2);
    border-radius: 4px;
    color: var(--icon);
    padding: -2px 6px 0px 6px;
    margin-top: 2px;
    margin-right: 4px;
    font-size: 13px;
    font-weight: 600;
    font-family: var(--system_font);
    max-height: 28px;
}
/* Results list */
.quick-launch-popup .results {
    background: transparent;
    padding: 8px;
}
/* Individual result item here you can set font size for title */
.quick-launch-popup .results-list-view {
    font-size: 14px;
    font-family: var(--system_font);
    font-weight: 600;
    color: var(--text);
}
.quick-launch-popup .results-list-view .description {
    color: var(--text);
    font-size: 10px;
    font-family: var(--system_font);
    font-weight: 600;
}
.quick-launch-popup .results-list-view .separator {
    color: var(--text);
    font-size: 13px;
    font-family: var(--system_font);
    font-weight: 600;
    padding: 4px 0 4px 12px;
}
/* Result item hover and selected states */
.quick-launch-popup .results-list-view::item {
    padding: 8px 12px;
    border-radius: 4px;
}
.quick-launch-popup .results-list-view::item:hover,
.quick-launch-popup .results-list-view::item:selected {
    background-color: var(--hover);
}
/* Empty state when no results found */
.quick-launch-popup .results-empty-text {
    font-size: 24px;
    font-family: var(--system_font);
    color: var(--text);
    padding-top: 8px;
}

/* KOMOREBI WORKSPACES */
.komorebi-workspaces {
    margin: 0;
}
.komorebi-workspaces .offline-status {
    color: var(--subtext1);
    font-size: 12px;
    padding: 0 0 0 4px;
    font-weight: 600;
}
.komorebi-workspaces .ws-btn {
    transition: background-color 0.3s ease;
    cursor: pointer;
    border: none;
    background-color: var(--basetransparent);
    color: rgba(0, 0, 0, 0);
    margin: 0px 3px;
    border-radius: 4px;
    height: 10px;
    width: 10px;
}
.komorebi-workspaces .ws-btn.populated {
    background-color: var(--subtext1);
}
.komorebi-workspaces .ws-btn.active {
    color: var(--surface2);
    background-color: var(--sky);
    width: 36px;
}

/* KOMOREBI LAYOUTS */
.komorebi-active-layout {
    margin: 0px 2px 2px 6px;
    cursor: pointer;
}
.komorebi-active-layout .label {
    font-size: 12px;
    font-weight: 600;
    color: var(--subtext1);
    padding-top: 1px
}
.komorebi-layout-menu {
    background-color: var(--popup_base);
    border: 1px solid var(--border);
    border-radius: 4px;
}
.komorebi-layout-menu .menu-item {
    padding: 8px 16px;
    font-size: 12px;
    color: var(--text); 
    font-weight: 600;
}
.komorebi-layout-menu .menu-item-icon {
    color: var(--text);
    font-size: 16px;
}
.komorebi-layout-menu .menu-item-text {
    padding-left:4px;
    font-size: 12px;
} 
.komorebi-layout-menu .menu-item:hover {
    background-color:rgba(128, 130, 158, 0.15);
    color: var(--text);
} 
.komorebi-layout-menu .separator {
    max-height: 1px;
    background-color: var(--surface2);
}

/* WHKD */
.whkd-widget {
    padding: 0 6px 0 0;
}
.whkd-widget:hover {
    cursor: pointer;
}
.whkd-popup {
    min-width: 500px;
    border: 1px solid var(--border);
    background-color: #13141a;
}
.whkd-widget .icon {
    margin: 0 2px 0 0;
    font-size: 16px;
    color: var(--subtext1)
}
.whkd-popup .edit-config-button {
    background-color: var(--winbutton2);
    color: var(--text);
    padding: 4px 8px 6px 8px;
    font-size: 14px;
    font-weight: 600;
    border-radius: 4px;
}
.whkd-popup .keybind-buttons-container {
    min-width: 240px;
}
.whkd-popup .keybind-button {
    background-color: var(--winbutton);
    color: var(--text);
    padding: 4px 8px 6px 8px;
    font-size: 14px;
    font-weight: 600;
    border: 1px inset var(--surface1);
    border-bottom: 2px inset var(--winbutton3);
    border-radius: 4px;
}
.whkd-popup .keybind-button.special {
    background-color: var(--winbutton);
    border-radius: 8px;
}
.whkd-popup .keybind-row{
    background-color: var(--popup_base);
    border-radius: 8px;
}
.whkd-popup .keybind-row:hover{
    background-color: var(--hover);
    border-radius: 8px;
}
.whkd-popup .plus-separator {
    padding: 0 0px;
    border:none;
    font-size: 16px;
    font-weight: bold;
    background-color:transparent
}
.whkd-popup .filter-input {
    padding: 0 8px 2px 8px;
    font-size: 14px;
    border: 1px solid var(--surface0);
    border-radius: 4px;
    outline: none;
    color: var(--text);
    background-color: rgba(17, 17, 27, 0.1);
    min-height: 32px;
}
.whkd-popup .filter-input:focus {
    border: 1px solid var(--lavender);
}
.whkd-popup .keybind-command {
    font-size: 14px;
}
.whkd-popup .keybind-header {
    font-size: 16px;
    font-weight: 600;
    color: var(--text);
    padding: 8px 0;
    margin-top: 20px;
    background-color: var(--basetransparent);
    border: 1px solid var(--basetransparent);
    border-radius: 8px;
}

/* TASKBAR */
.taskbar-widget {
    background-color: var(--basetransparent);
    border-radius: 4px;
    border: 1px solid var(--border);
    padding: 0 4px;
}
.taskbar-widget .app-container {
    margin: 0px;
    border-radius: 4px;
    padding: 0 4px;
}
.taskbar-widget .app-container.foreground {
    background-color: var(--overlay0);
    border-radius: 4px;
}
.taskbar-widget .app-container.flashing {
    background-color: var(--red);
}
.taskbar-widget .app-container:hover {
    background-color: var(--hover);
}
.taskbar-widget .app-container .app-title {
    padding-top: 0;
    padding-left: 2px;
    font-weight: 600;
    color: var(--subtext1);
}
/* Taskbar preview popup is very limited in styling options, do not use margins/paddings here */
.taskbar-preview {
    border-radius: 8px; 
    background-color: var(--surface0); 
}
.taskbar-preview .header {
    padding-bottom: 12px;
    padding-top: 4px;
}
.taskbar-preview .header .title {
    color: var(--text);
    font-weight: 400;
    font-size: 12px;
}
.taskbar-preview .close-button {
     color: var(--overlay1);
    background-color: transparent;
    border: none;
    border-radius: 2px;
}
.taskbar-preview .close-button:hover {
    color: var(--subtext1);
    background-color: var(--red);
}


/* CENTER */
.center-grouper .container{
    /* border: 1px solid var(--border); */
    border-radius: 6px;
    background-color: transparent;
}

/* CLOCK */
.clock-widget {
    padding: 0 10px;
    border: transparent;
}
.clock-widget .icon {
    color: var(--subtext1);
    font-size: 14px;
    padding-right: 4px;
}
.clock-widget .label {
    color: var(--text)
}

/* CLOCK - POPUP WIDGET */
.clock-popup.calendar {
    min-width: 460px;
    background-color: var(--base);
}

.clock-popup.calendar .calendar-table,
.clock-popup.calendar .calendar-table::item {
    background-color: rgba(17, 17, 27, 0);
    color: var(--overlay1);
    font-family: var(--system_font);
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
}
.clock-popup.calendar .calendar-table::item:selected {
    color: var(--rosewater);
    font-weight: bold;
    background-color: var(--surface2);
    border-radius: 12px;
}
.clock-popup.calendar .day-label {
    margin-top: 20px;
}
.clock-popup.calendar .day-label,
.clock-popup.calendar .month-label,
.clock-popup.calendar .year-label,
.clock-popup.calendar .date-label {
    font-family: var(--system_font);
    font-size: 16px;
    font-weight: 400;
    min-width: 180px;
    max-width: 180px;
}
.clock-popup.calendar .month-label {
    font-weight: normal;
}
.clock-popup.calendar .year-label {
    font-weight: normal;
}
.clock-popup.calendar .date-label {
    font-size: 66px;
    font-weight: 900;
}

/* QUICK LAUNCH (HIDDEN) */
.quick-launch-widget {
    max-width: 0;
    border: transparent;
}

/* OPEN METEO */
.open-meteo-widget{
    border: transparent;
}
.open-meteo-widget .icon {
    color: var(--yellow);
    padding-right: 4px;
}
.open-meteo-widget .label {
    padding-right: 6px;
    color: var(--yellow);
}
.open-meteo-card {
    background-color: var(--popup_base);
    min-width: 500px;
    border: 1px solid var(--border);
}
.open-meteo-card-today .label {
    font-size: 12px;
    font-family: var(--system_font);
    font-weight: 400;
    color: var(--text);
}
.open-meteo-card-today .label.location {
    font-size: 32px;
    font-weight: 400;
    font-family: var(--system_font);
    color: var(--text);
}
.open-meteo-card-today .label.sunrisesunset {
    font-size: 18px;
    font-family: var(--system_font);
    font-weight: 600;
    color: var(--yellow);
}
.open-meteo-card-today .label.sunrisesunset-icon {
    font-size: 16px;
    color: var(--yellow);
    font-weight: 600;
}
.open-meteo-card-day {
    border: 1px solid var(--border);
    border-radius: 8px;
    background-color: var(--winbutton);
    padding: 4px;
    min-width: 70px;
}
.open-meteo-card-day .day-name {
    font-family: var(--system_font);
    color: var(--text);
    font-size: 12px;
    font-weight: 600;
}
.open-meteo-card-day .day-temp-max {
    font-family: var(--system_font);
    font-weight: 700;
    font-size: 16px;
    color: var(--yellow);
}
.open-meteo-card-day .day-temp-min {
    font-family: var(--system_font);
    color: var(--sky);
    font-weight: 400;
    font-size: 13px;
}
.open-meteo-card-day.active {
    background-color: var(--overlay0);
    border: 1px solid var(--hover);
}
.open-meteo-card-day:hover {
    background-color: var(--overlay0);
    border: 1px solid var(--hover);
}
.open-meteo-card .hourly-container {
    border: none;
    background-color: transparent;
    min-height: 120px;
}
.open-meteo-card .hourly-data {
    font-size: 11px;
    font-weight: 700;
    font-family: var(--system_font);
}
.open-meteo-card .hourly-data.temperature {
    background-color: var(--yellow);
}
.open-meteo-card .hourly-data.rain {
    background-color: var(--blue);
}
.open-meteo-card .hourly-data.snow {
    background-color: var(--sky);
}
.open-meteo-card .hourly-data .hourly-rain-animation {
    color: var(--blue);
    background-color: rgba(0, 0, 0, 0);
}
.open-meteo-card .hourly-data .hourly-snow-animation {
    color: var(--sky);
    background-color: rgba(0, 0, 0, 0);
}
.open-meteo-card .hourly-data-buttons {
    margin-top: 11px;
    margin-left: 11px;
}
.open-meteo-card .hourly-data-button {
    border-radius: 4px;
    min-height: 24px;
    min-width: 24px;
    max-width: 24px;
    max-height: 24px;
    font-size: 14px;
    color: var(--overlay0);
    border: 1px solid transparent;
}
.open-meteo-card .hourly-data-button.active {
    color: var(--icon);
    background-color: var(--surface1);
    border: 1px solid var(--border);
}
.open-meteo-card .search-head {
    font-size: 18px;
    font-family: var(--system_font);
    font-weight: 600;
    color: var(--text);
}
.open-meteo-card .search-description {
    font-size: 14px;
    font-family: var(--system_font);
    font-weight: 400;
    color: var(--overlay0);
    padding-bottom: 8px;
}
.open-meteo-card .no-data-icon {
    font-size: 88px;
}
.open-meteo-card .no-data-text {
    font-size: 16px;
    font-family: var(--system_font);
    font-weight: 400;
}
.open-meteo-card .search-input {
    padding: 8px 12px;
    border: 1px solid var(--border);
    border-radius: 6px;
    background-color: rgba(17, 17, 27, 0.1);
    color: var(--text);
    font-family: var(--system_font);
    font-size: 14px;
}
.open-meteo-card .search-input:focus {
    border: 1px solid var(--blue);
    background-color: rgba(17, 17, 27, 0.2);
}
.open-meteo-card .search-results {
    border: 1px solid var(--border);
    border-radius: 6px;
    background-color: rgba(0, 0, 0, 0);
    color: var(--text);
    font-size: 13px;
    font-family: var(--system_font);
}
.open-meteo-card .search-results::item {
    padding: 6px;
}
.open-meteo-card .search-results::item:hover {
    background-color: var(--hover);
}


/* RIGHT */


.cava-widget {
    border: 1px solid var(--border);
    border-radius: 6px;
    background-color: var(--basetransparent);
}


.traffic-widget {
    border: 1px solid var(--border);
    border-radius: 4px;
    background-color: var(--basetransparent);
    margin: 2px 4px;
}
.traffic-widget:hover {
    cursor: pointer
}
.traffic-widget .icon {
    color: var(--lavender);
    padding: 0px 2px;
}
.traffic-widget .label {
   color: var(--lavender);
   padding: 0 2px 0 0;
}
.traffic-menu {
    background-color: var(--popup_base);
    min-width: 280px;
}
.traffic-menu .header {
    border-bottom: 1px solid var(--surface1);
    background-color: var(--popup_base);
}
.traffic-menu .header .title {
    padding: 8px;
    font-size: 16px;
    font-weight: 600;
    font-family: var(--system-font);
    color: var(--text)
}
.traffic-menu .header .reset-button {
    font-size: 11px;
    padding: 4px 8px;
    margin-right: 8px;
    font-family: var(--system-font);
    border-radius: 4px;
    font-weight: 600;
    background-color: transparent;
    border: none;
}
.traffic-menu .reset-button:hover {
    color: var(--text);
    background-color: var(--hover);
    border: 1px solid var(--border);
}
.traffic-menu .reset-button:pressed {
    color: var(--text);
    background-color: var(--hover);
    border: 1px solid var(--border);
}

.traffic-menu .download-speed,
.traffic-menu .upload-speed {
    background-color: transparent;
    padding: 4px 10px;
    margin-right: 12px;
    margin-left: 12px;
    margin-top: 16px;
    margin-bottom: 0;
    border-bottom: 1px solid var(--border);
}
.traffic-menu .download-speed {
    margin-left: 12px;
    margin-right: 12px;
}
.traffic-menu .speed-separator {
    max-width: 1px;
    background-color: var(--surface2);
    margin: 32px 0 16px 0;
}
.traffic-menu .upload-speed-value,
.traffic-menu .download-speed-value {
    font-size: 24px;
    font-weight: 900;
    font-family: var(--system-font);
    color: var(--subtext1);
}
.traffic-menu .upload-speed-unit,
.traffic-menu .download-speed-unit {
    font-size: 13px;
    font-family: var(--system-font);
    font-weight: 600;
    padding-top: 4px;
}
.traffic-menu .upload-speed-placeholder,
.traffic-menu .download-speed-placeholder {
    color: var(--overlay1);
    font-size: 11px;
    font-family: var(--system-font);
    padding: 0 0 4px 0;
}

.traffic-menu .section-title {
    font-size: 12px;
    font-weight: 600;
    color: var(--overlay1);
    margin-bottom: 4px;
    font-family: var(--system-font);
}
.traffic-menu .session-section,
.traffic-menu .today-section,
.traffic-menu .alltime-section {
    margin: 8px 8px 0 8px;
    padding: 0 10px 10px 10px;
    background-color: transparent;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.traffic-menu .data-text {
    font-size: 13px;
    color: var(--subtext1);
    padding: 2px 0;
    font-family: var(--system-font);

}
.traffic-menu .data-value {
    font-weight: 600;
    font-size: 13px;
    font-family: var(--system-font);
    padding: 2px 0;
}
.traffic-menu .interface-info,
.traffic-menu .internet-info {
    font-size: 12px;
    color: var(--overlay1);
    padding: 8px 0;
    font-family: var(--system-font);
}
.traffic-menu .internet-info {
    background-color: var(--popup_base);
}
.traffic-menu .internet-info.connected {
    background-color: transparent;
    color: #a6e3a1;
}
.traffic-menu .internet-info.disconnected {
    background-color: transparent;
    color: #f38ba8;
}


/* SYSTEM INFO */
.systeminfo-grouper .container{
    border: 1px solid var(--border);
    border-radius: 6px;
    background-color: var(--basetransparent);
}

/* CPU */
.cpu-widget {
    padding: 0 4px;
}
.cpu-widget:hover {
    cursor: pointer
}
.cpu-widget .icon {
    color: var(--subtext1);
}
.cpu-widget .label {
   color: var(--subtext1);
   padding: 0px 0px 0px 4px;
}
.cpu-popup {
    background-color: var(--popup_base);
    min-width: 400px;
    max-width: 400px;
}
.cpu-popup .header {
    background: transparent;
    padding: 12px 16px;
}
.cpu-popup .header .text {
    font-size: 16px;
    font-family: var(--system_font);
}
.cpu-popup .header .pin-btn {
    font-size: 14px;
    background: transparent;
    font-family: 'Segoe Fluent Icons';
    border: none;
    padding: 6px;
    color: var(--text);
}
.cpu-popup .header .pin-btn:hover {
    color: var(--text);
}
.cpu-popup .header .pin-btn.pinned {
    color: var(--text);
}
.cpu-popup .graph-container {
    background: transparent;
    min-height: 64px;
}
.cpu-popup .cpu-graph {
    color: var(--blue);
}
.cpu-popup .cpu-graph-grid {
    color: var(--surface1);
}
.cpu-popup .graph-title {
    font-size: 12px;
    color: var(--text);
    font-family: var(--system_font);
    padding: 0px 0px 4px 14px;
}
.cpu-popup .stats {
    background: transparent;
    padding: 16px;
}
.cpu-popup .stats .stat-item {
    background-color: var(--popup_base);
    border: 1px solid var(--surface2);
    border-radius: 8px;
    padding: 8px 12px;
    margin: 8px;
}
.cpu-popup .stats .stat-label {
    font-size: 13px;
    color: var(--text);
    font-family: var(--system_font);
    font-weight: 400;
    padding: 6px 4px 2px 4px;
}
.cpu-popup .stats .stat-value {
    font-size: 20px;
    font-weight: 700;
    color: var(--text);
    font-family: var(--system_font);
    padding: 0 4px 12px 4px;
}

/* MEMORY */
.memory-widget:hover {
    cursor: pointer;
}
.memory-widget .icon {
    color: var(--subtext1);
}
.memory-widget .label {
    color: var(--subtext1);
    padding: 0px 0px 0px 4px;
}
.memory-popup {
    background-color: var(--popup_base);
    min-width: 400px;
    max-width: 400px;
}
.memory-popup .header {
    background: transparent;
    padding: 12px 16px;
}
.memory-popup .header .text {
    font-size: 16px;
    font-family: var(--system_font);
    color: var(--rosewater);
}
.memory-popup .header .pin-btn {
    font-size: 14px;
    background: transparent;
    font-family: 'Segoe Fluent Icons';
    border: none;
    padding: 6px;
    color: var(--text);
}
.memory-popup .header .pin-btn:hover {
    color: var(--icon);
}
.memory-popup .header .pin-btn.pinned {
    color: var(--text);
}
.memory-popup .graph-container {
    background: transparent;
    min-height: 64px;
}
.memory-popup .memory-graph {
    color: var(--blue);
}
.memory-popup .memory-graph-grid {
    color: var(--surface1);
}
.memory-popup .graph-title {
    font-size: 12px;
    color: var(--text);
    font-family: var(--system_font);
    padding: 0px 0px 4px 14px;
}
.memory-popup .stats {
    background: transparent;
    padding: 16px;
}
.memory-popup .stats .stat-item {
    background-color: var(--popup_base);
    border: 1px solid var(--surface2);
    border-radius: 8px;
    padding: 8px 12px;
    margin: 8px;
}
.memory-popup .stats .stat-label {
    font-size: 13px;
    color: var(--text);
    font-family: var(--system_font);
    font-weight: 400;
    padding: 6px 4px 2px 4px;
}
.memory-popup .stats .stat-value {
    font-size: 20px;
    font-weight: 700;
    color: var(--text);
    font-family: var(--system_font);
    padding: 0 4px 12px 4px;
}


.gpu-widget:hover {
    cursor: pointer;
}
.gpu-widget .icon {
    color: var(--subtext1);
}
.gpu-widget .label {
    color: var(--subtext1);
    padding: 0px 0px 0px 4px;
}
.gpu-popup {
    background-color: var(--popup_base);
    min-width: 400px;
}
.gpu-popup .header {
    background: transparent;
    padding: 12px 16px;
}
.gpu-popup .header .text {
    font-size: 16px;
    font-family: var(--system-font);
    color: var(--text);
}
.gpu-popup .header .pin-btn {
    font-size: 14px;
    background: transparent;
    font-family: "Segoe Fluent Icons";
    border: none;
    padding: 6px;
    color: var(--overlay1);
}
.gpu-popup .header .pin-btn:hover {
    color: var(--subtext1);
}
.gpu-popup .header .pin-btn.pinned {
    color: var(--text);
}
/* Graph area */
.gpu-popup .graph-container {
    background:  transparent;
    min-height: 64px;
}
.gpu-popup .gpu-graph {
    color: #0f6bff;   /* set the graph line/fill color */
}
.gpu-popup .gpu-graph-grid {
    color: rgba(255, 255, 255, 0.05);  /* set the grid line color */
}
.gpu-popup .gpu-temp-graph {
    color: #ff6b35;  /* orange for temperature */
}
.gpu-popup .gpu-temp-graph-grid {
    color: rgba(255, 255, 255, 0.05);  /* set the grid line color */
}
.gpu-popup .graph-title {
    font-size: 12px;
    color: var(--subtext1);
    font-family: 'Segoe UI';
    padding: 0px 0px 4px 14px;
    margin-top: 12px; /* Add top margin to separate from 2nd graph */
}
.gpu-popup .graph-title.first {
    margin-top: 0px; /* Remove top margin for the first graph title */
}
/* Stats grid */
.gpu-popup .stats {
    background: transparent;
    padding: 16px;
}
.gpu-popup .stats .stat-item {
    background-color: rgba(255, 255, 255, 0.03);
    border: 1px solid rgba(255, 255, 255, 0.04);
    border-radius: 8px;
    padding: 8px 12px;
    margin: 8px;
}
.gpu-popup .stats .stat-label {
    font-size: 13px;
    color: var(--subtext1);
    font-family: 'Segoe UI';
    font-weight: 400;
    padding: 6px 4px 2px 4px;
}
.gpu-popup .stats .stat-value {
    font-size: 20px;
    font-weight: 700;
    color: var(--text);
    font-family: 'Segoe UI';
    padding: 0 4px 12px 4px;
}

/* VOLUME */
.volume-widget{
    border: 1px solid var(--border);
    border-radius: 6px;
    background-color: var(--basetransparent);
    margin: 2px 2px 2px 0;
}
.volume-widget .label {
    font-size: 12px;
    color: var(--subtext1);
}
.volume-widget .icon{
    padding: 1px 2px 0 2px;
    color: var(--blue2);
}
.volume-widget .label{
    padding: 0 2px 0 0;
}
.volume-widget:hover {
    background-color: var(--hover);
}
.audio-menu {
    background-color: var(--popup_bg);
    min-width: 300px;
}
.audio-menu .system-volume-container .volume-slider {
    border: none;
}
.audio-menu .audio-container .device {
    background-color: transparent;
    border: none;
    padding: 6px 8px 6px 4px;
    margin: 2px 0;
    font-size: 12px;
    border-radius: 4px;
}
.audio-menu .audio-container .device.selected {
    background-color: var(--winbutton2);
}
.audio-menu .audio-container .device:hover {
    background-color: var(--hover);
}
.audio-menu .toggle-apps {
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0;
    min-height: 24px;
    min-width: 24px;
    border-radius: 4px;
    font-family: var(--icon_font);
}
.audio-menu .toggle-apps.expanded {
    background-color: var(--surface1);
}
.audio-menu .toggle-apps:hover {
    background-color: var(--hover);
}
.audio-menu .apps-container {
    padding: 8px;
    margin-top: 20px;
    border-radius: 8px;
    background-color: var(--surface1);
}
.audio-menu .apps-container .app-volume .app-icon-container {
    min-width: 40px;
    min-height: 40px;
    max-width: 40px;
    max-height: 40px;
    border-radius: 6px;
    margin-right: 8px;
}
.audio-menu .apps-container .app-volume .app-icon-container:hover {
    background-color: var(--hover);
}


/* SYSTRAY */
.systray {
    padding: 0 3px 0 0;
}
.systray:hover {
    background-color: var(--hover);
}
.systray .pinned-container {
    background: transparent;
}
.systray .button {
    background: transparent;
    border: transparent;
    padding: 0px;
}
.systray .button:hover {
    cursor: pointer;
    background: var(--hover);
    border: transparent;
}
.systray .button.drag-over {
     background: var(--overlay0);
     border: 1px solid var(--overlay0);
}
.systray .pinned-container.drop-target {
    background: var(--base);
}
.systray .unpinned-visibility-btn {
    color: var(--lavender);
    font-size: 16px;
    height: 20px;
    width: 20px;
    border: none;
    outline: none;
}
.systray .unpinned-visibility-btn:checked {
    background: transparent;
}
.systray-popup .button.drag-over {
    background-color: var(--surface2);
}
.systray .pinned-container.pinned-container.drop-target {
    background-color: var(--base);
}
.systray-popup {
    background-color: var(--popup_base);
    padding: 4px;
}
.systray-popup .button {
    padding: 10px;
    margin: 0;
    border: 0;
}
.systray-popup .button:hover {
    background-color: var(--hover);
}


/*WALLPAPERS WIDGET*/
.wallpapers-widget .icon{
    color: var(--lavender);
}
.wallpapers-widget:hover {
    background-color: var(--hover);
}
/*WALLPAPERS GALLERY*/
.wallpapers-gallery-window {
    background-color: var(--popup_base);
    border: 1px solid var(--border);
    margin: 0;
}
.wallpapers-gallery-buttons {
    font-size: 12px;
    background-color: var(--winbutton);
    color: var(--text);
    border: none;
    font-size: 14px;
    padding: 8px 0;
    border-radius: 8px;
    margin:0 8px 8px 8px;
    width: 600px;
}
.wallpapers-gallery-buttons:hover {
    background-color:var(--winbutton3);
}
.wallpapers-gallery-image:hover {
    border: 4px solid var(--blue);
}
.wallpapers-gallery-image.focused {
    border: 4px solid var(--blue);
}


/* NOTIFICATIONS */
.notification-widget {
    cursor: pointer;
    padding: 0 4px 0 4px;
}
.notification-widget:hover {
    background-color: var(--hover);
}
.notification-widget .icon {
    color: var(--lavender);
    font-size: 16px;
}
.notification-widget .icon.new-notification {
    color: var(--lavender);
}
.notification-widget .label.new-notification {
    color: var(--lavender);
}


/* POWER MENU */
.power-menu-widget{
    margin-right: 4px;
}
.power-menu-widget .icon {
    color: var(--red);
    font-size: 13px;
}
.power-menu-widget:hover {
    border-radius: 4px;
    background-color: var(--hover);
}
.power-menu-popup .button {
    padding: 0;
    margin: 0 4px;
    width: 160px;
    height: 240px;
    border-radius: 4px;
    background-color: rgba(41, 42, 58, 0.6);
	color: var(--text);
}
.power-menu-popup .button:hover {
	background-color: var(--hover);
}
.power-menu-popup .button .label {
	margin-bottom: 8px;
	font-size: 16px;
	font-weight: 600;
	color: var(--text);
}
.power-menu-popup .button .icon {
	font-size: 58px;
	color: var(--overlay0);
}
.power-menu-popup .button.cancel .icon {
	color: var(--red);
}
.power-menu-popup .button.cancel .label {
	color: var(--red);
}